Package: com.pl.ccslidercolors
Name: CCSliderColors
Depends: mobilesubstrate, com.spark.libsparkcolourpicker
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Đổi màu thanh trượt Control Center
Maintainer: PHAMLONG
Author: PHAMLONG
Section: Tweaks
